body {
    margin: 0;
    padding: 0;
    background: #2b4d2b; 
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 380px;
    height: 700px;
    background: #2e5a2e;
    border-radius: 22px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.back-btn i {
    font-size: 22px;
    color: white;
}

.title {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.store-card {
    background: white;
    padding: 20px;
    border-radius: 18px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);

    flex-grow: 1;
    overflow-y: auto; 
}

.store-form label {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.store-form input,
.store-form textarea {
    width: 100%;
    padding: 12px;
    border: none;
    background: #f5f5f5;
    border-radius: 14px;
    margin-top: 6px;
    font-size: 15px;
}

textarea {
    resize: none;
    height: 100px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background: #003b15;
    border: none;
    border-radius: 14px;
    color: white;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

.bottom-nav {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #144a28;
    padding: 10px;
    border-radius: 14px;

    display: flex;
    justify-content: space-around;
}

.bottom-nav a {
    font-size: 22px;
    color: white;
}

.service-item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.service-item input {
  flex: 1;
}

.add-btn {
  margin: 10px 0;
  padding: 10px;
  background: #020202;
  color: #fff;
  border: none;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

.add-btn:hover {
  background: #3f7f3f;
}
