body {
  font-family: 'Poppins', sans-serif;
  background: #2f4f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  width: 360px;
  height: 640px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  color: #333;
}

.header .title {
  flex: 1;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.back-btn {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.payment-title {
  font-size: 22px;
  font-weight: 800;
  margin: 10px 0 20px;
}

.section {
  margin-bottom: 20px;
}

.section h3 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.card {
  background: #ffffff   ;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 25px 0;
  font-size: 20px;
  cursor: pointer;
}

.bottom-section {
  margin-top: auto;
  margin-bottom: 70px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  margin-bottom: 12px;
}

.total span {
  font-weight: 600;
  color: #333;
}

.amount {
  font-weight: 800;
  font-size: 18px;
  color: #000;
}

.pay-btn {
  background: #2f8a3a;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  transition: 0.2s;
}

.pay-btn:hover {
  background: #244824;
}

.bottom-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  background: #ffffff;
  border-top: 1px solid #ddd;
  border-radius: 0 0 20px 20px;
}

.bottom-nav a {
  color: #777;
  font-size: 20px;
  text-decoration: none;
  transition: 0.2s;
}

.bottom-nav a:hover {
  color: #2e5c2e;
}
