body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2f4f2f;
    font-family: Arial, sans-serif;
 }

.container {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

h2 {
    margin-bottom: 20px;
    color: #2e5c2e;
}

#qrcode {
    margin: 20px auto;
 }
 